* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body { 
    font-size: 15px;
    color: #fff;
    background-color: hsl(0, 0%, 95%);
}

main.container {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 40px auto;

}

h2 {
    font-family: 'Big Shoulders Display', cursive;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 1.8rem;
    padding: 30px 0;
    color: hsl(0, 0%, 95%);
}

p {
    font-family: 'Lexend Deca', sans-serif;
    font-weight: 400;
    line-height: 1.5rem;
    color: hsla(0, 0%, 100%, 0.75);
    padding-bottom: 30px;
}

.Sedans, .SUVs, .Luxury {
    max-width: 375px;
    padding: 40px 50px;
}

.Sedans {
    background-color: hsl(31, 77%, 52%);
    border-radius: 16px 16px 0 0;

}

.SUVs {
    background-color: hsl(184, 100%, 22%);
}

.Luxury {
    background-color: hsl(179, 100%, 13%);
    border-radius: 0 0 16px 16px;
}

button {
    padding: 15px 30px;
    border-radius: 36px;
    background-color: hsl(0, 0%, 95%);
    border: 1px solid #fff;
    cursor: pointer;
}

button:hover {
    background-color: rgba(255, 255, 255, 0);
    color: hsl(0, 0%, 95%);
    border: 1px solid #fff;
}

.attribution { 
    font-size: 11px; 
    text-align: center;
    color: hsl(0, 0%, 0%)!important;
    margin-bottom: 30px;
}

.attribution a { 
    color: hsl(228, 45%, 44%); 
}

.attribution a:hover { 
    color: hsl(41, 79%, 60%); 
}


@media screen and (min-width: 514px) {
    main.container {
        width: 100%;
        min-height: 100vh;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        margin: 40px auto;
    
    }

    h2 {
        font-size: 2.2rem;

    }

    p {
        padding: 0 25px 120px 0;
        line-height: 1.8rem;

    }

    .Sedans {
        border-radius: 16px 0 0 16px;
    
    }

    .Luxury {
        border-radius: 0 16px 16px 0;

    }
    
}
